
li{
    display: inline-block;
     
}
#navbar #color{
    color: #004289;
}
#img{
    max-height: 26px;
    margin-left: 97px;
}



#banner{
    /* background-color: yellow; */
    background-image: url("../img/1.png");
    min-height:400px;

    padding-top: 100px;
    padding-bottom: 15px;

}

#banner h1{
    color:#fff;
    font-size: 50px;
    font-weight: bold;

}

#banner h1 span{
    color:yellow;
    text-decoration: underline;
}

#about-us #about h1{
    padding-top:25px;
    padding-bottom:15px;
    font-weight:500px;
    font-size:36px;
    text-align:center;
  
}

#about-us{
    height:1600px;
}



#about-us p{
    font-weight:100px;
    font-size:18px;
    color: #556877;
}

#about-us #para p{
    font-weight:100px;
    font-size:17px;
   
}

#about-us.card h4{
    font-weight:800px;
    padding-top:17px;
    font-size:18px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

#about-us #pixel{
    margin-top:50px;
    padding-left:15px;
    
}

#about-us #pixel h4{
    font-size:25px;
    font-weight:bold;
    font-family: "Montserrat", sans-serif;
}

#about-us #range{
margin-top:60px;
padding-left:15px;
}

#about-us #range h4{
    font-size:30px;
    font-weight:bold;
    font-family: "Montserrat", sans-serif;
}

#service{
        background-color: red;
        /* background-color: #ecf5ff; */
        /* height: 850px; */
        /* padding-top:40px; */
}

/* #service .font{
    color:#556877;
    font-size:15px;
}

#service .description p{
font-size:14px;
font-weight: 600px;
line-height:20px;
padding-bottom:20px;
padding-left:50px;
}

#service .description h4{
font-weight: bold;
padding-top:26px;
padding-left:50px;
color: #111;
}

#about-us .pd{
    padding-bottom:50px;
}

#service .description{
    margin-top:55px;
    background-color:#fff;
    margin-left:100px;
    border-radius: 11px;
} */

/* #about-us .card{ */
    /* background-color: red; */
/* } */

#about-us .card .icon{
    display: inline-block;
    background: white;
    border:1px solid #007bff;
    padding: 15px;
    border-radius: 50px;
}

#about-us .card .icon i{
    font-size: 30px;
    color: #007bff;

}

#about-us .card .content{
    background: white;
    display: inline-block;
    width:60%;
    padding-left: 15px;;
}

#about-us .card .content h4{
    padding-top: 0;
    margin-top: 0;
}

#service .description:hover::first-line{
    
        color: #007bff;
    
}

#choose{
    background: #004a99;
    height:800px;
    color:white;
}

#choose h4{
    font-size:40px;
    padding-top:50px;
    padding-bottom:25px;
    font-weight:bod;
    font-weight:900px;
}#choose p{
    font-size:15px;
    font-weight:600px;
    
    margin-bottom: 50px;

}
#choose .icon-para{
    font-size:20px;
}
#choose h5{
    font-size:20px;
    font-weight:bold;
    
}
#choose i{
    font-size:40px;
    padding-top:40px;
    padding-bottom:15px;
    color: #bfddfe;
}
#choose .icon-para :hover{
    background: #003b7a;
    border-color: #003b7a;
}
#choose .margin{
    margin-right:120px;
    border-radius: 2px;
    background: #00458f;
}
#choose .margin-last{
    background: #00458f;
}
#choose #ul{
    font-weight:600;
    font-size:16px;
}
#choose a{
    color:white;
}
#choose #tag h1{
    font-weight:bold;
    font-size:48px;
    padding-top:50px;
}
#choose #tag p{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #cce5ff;
}
#testmonial{
    height:400px;
    background: #ecf5ff;
    background:yello;
}

#testmonial h1{
    padding-top:40px;
}
#team{
    padding-top:35px;
    height:600px;
}
#team h1{
    color: #283d50;
}
#team p{
    padding-top:15px;
    color: #556877;
    font-size:16px;
    padding-bottom:50px;
}
#team .border img{
    border-radius:365px;
}
#our-client{
    background: #ecf5ff;
    height:650px;
}
#our-client h1{
    color: #283d50;
    padding-top:40px;
}
#our-client p{
    padding-top:15px;
    color: #556877;
    font-size:16px;
    padding-bottom:50px;
}

#our-client #w-d div{
       height:180px;
       background-color:white;
      
   }
#our-client #w-d img{
    margin-left:auto;
    margin-right:auto; 
   width:150px;
   padding-top:50px;
 
}
#our-client #w-d img:hover{
    height:50px;
}

/* .item img{
    height:10px;
    
}
#testmonial #img-pd img{
    height:100px;
}


 */

 #testmonial h1{
    padding-bottom:50px;
}
 #testmonial h2{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
#testmonial .carousel-indicators{
    bottom:-89px;
}

#contact-us{
    height:500px;   
}
#contact-us h1{
    padding-bottom:50px;
}
#contact-us form button{
    background: #007bff;
    border-radius:20px;
    color:white;
    padding: 8px 30px;
    border: 0;
    
}
#contact-us form button:hover{
    background: #0067d5;
    cursor: pointer;
}

